<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
	<system.web.extensions>
		<scripting>
			<webServices>
				<!-- AGS 17-07-2015 Define el largo máximo (caracteres) de los mensajes Json desde el servidor, valor entero.
                    Si no se define aquí, el valor por defecto es 102400 -->
				<jsonSerialization maxJsonLength="2147483644">
				</jsonSerialization>
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.web>
		<compilation debug="false" explicit="true" strict="false" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
    <customErrors mode="On" defaultRedirect="Aplicaciones/Error.aspx" />
		<authentication mode="Forms">
			<forms name="PlataformaDocente" loginUrl="loginP.aspx" protection="All" timeout="10" path="/" cookieless="UseCookies" />
			<!-- Siempre colocar menos tiempo que el tiempo timeout de sessionState-->
			<!-- AGS 30-09-2013 cookieless="UseCookies" fuerza a ASP.NET a que la aplicación utilice cookies para la autentificación por formulario -->
		</authentication>
		<sessionState mode="InProc" cookieless="false" timeout="10" />
		<!-- Siempre colocar más tiempo para la sesión que el tiempo de autentificación -->
		<httpRuntime maxUrlLength="2048" relaxedUrlToFileSystemMapping="true" maxQueryStringLength="2048" maxRequestLength="2097151" />
		<!--Son 1.8gbytes máximo-->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-CL" uiCulture="es-CL" />
		<xhtmlConformance mode="Transitional" />
		<pages enableSessionState="true" clientIDMode="AutoID" controlRenderingCompatibilityVersion="3.5" enableViewStateMac="false" />
		<httpHandlers>
			<add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="PublicKeyToken=b88d1754d700e49a" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering allowDoubleEscaping="true">
				<requestLimits maxAllowedContentLength="4294967295" />
				<!--Son 3.99 gbytes como máximo para uploads, pero el parámerto "maxRequestLength" de arriba restringe antes la subida a solo 1.9 gbytes-->
			</requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		</handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
		<httpErrors existingResponse="PassThrough">
		</httpErrors>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <add value="inicio.aspx" />
            </files>
        </defaultDocument>
	</system.webServer>
	<location path="inicio.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<appSettings>
		 <add key="hostname" value="Server=PUC-FILESERVER\MSSQLSERVER2017;Database=DBPiloto2019;Integrated Security=False;User Id=PT;password=Docentemas123..;"></add> 
		
		
		<add key="execMode" value="Produccion" />
		<add key="logpath" value="C:\inetpub\wwwroot\pilotomide\Log" />
		<add key="logfile" value="app_log.txt" />
		<add key="pathArchivo" value="C:\inetpub\wwwroot\pilotomide\Archivos\" />
		<add key="PathDocumento" value="C:\DM_Archivos_piloto\PortafolioDocente_piloto\" />
		<add key="PesoMaximoDocumento" value="51200" />
		<add key="pathDescargar" value="C:\inetpub\wwwroot\pilotomide\Descargar\" />
		<add key="pathDescargarPDFPF" value="C:\DM_Archivos_piloto\Archivos_piloto\AvancePF\" />
		<add key="pathDescargarPDFAE" value="C:\DM_Archivos_piloto\Archivos_piloto\AvanceAE\" />
		<add key="pathDescargarPDFCOPIA" value="C:\DM_Archivos_piloto\Archivos_piloto\InformeCopia\" />
		<add key="SSL" value="N" />
		<add key="log_conexion" value="S" />
		<add key="urlSitio" value="http://200.2.192.61/pilotomide2019/" />
		<!--WT. Generar DOCX-->
		<add key="stPath_Plantilla" value="C:\inetpub\wwwroot\pilotomide\Plantilla\" />
		<add key="stNombre_AvancePF" value="PlantillaAvancePF.docx" />
		<add key="stNombre_AvanceAE" value="PlantillaAvanceAE.docx" />
		<add key="stNombre_AvancePFTP" value="PlantillaAvancePFTP.docx" />
		<add key="stNombre_InformeCopia" value="PlantillaInformeCopia.docx" />
		<add key="Modo" value="PilotoEE" />
		<!--WT. Generar DOCX-->
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<!-- Al no tener especificado un nombre (name="") esta configuración será genérica para cualquier consumo de los servicios de RIZQ desde afuera-->
				<binding maxReceivedMessageSize="2147483647"></binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
</configuration>
